package dayN_test

import (
	"os"
	"testing"

	"github.com/kaveenr/aoc24/dayN"
)

func Test_DayN_Part1_Example(t *testing.T) {
	result, err := dayN.Part1(testInput)
	if err != nil {
		t.Errorf("error: %s", err)
	}
	expected := -1
	if result != expected {
		t.Errorf("expected %d, got %d", expected, result)
	}
}

func Test_DayN_Part2_Example(t *testing.T) {
	result, err := dayN.Part2(testInput)
	if err != nil {
		t.Errorf("error: %s", err)
	}
	expected := -1
	if result != expected {
		t.Errorf("expected %d, got %d", expected, result)
	}
}

func Test_DayN_Part1(t *testing.T) {
	result, err := dayN.Part1(string(myPuzzleInput))
	if err != nil {
		t.Errorf("error: %s", err)
	}
	expected := -1
	if result != expected {
		t.Errorf("expected %d, got %d", expected, result)
	}
}

func Test_DayN_Part2(t *testing.T) {
	result, err := dayN.Part2(string(myPuzzleInput))
	if err != nil {
		t.Errorf("error: %s", err)
	}
	expected := -1
	if result != expected {
		t.Errorf("expected %d, got %d", expected, result)
	}
}

func Benchmark_DayN_Part1(b *testing.B) {
	for i := 0; i < b.N; i++ {
		dayN.Part1(testInput)
	}
}

func Benchmark_DayN_Part2(b *testing.B) {
	for i := 0; i < b.N; i++ {
		dayN.Part2(testInput)
	}
}

var (
	myPuzzleInput, _ = os.ReadFile(`input.txt`)
	testInput        = ``
)
